<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.nasugar.orderfood">

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.CartActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.ActionBar" />
        <activity
            android:name=".view.FoodActivity"
            android:parentActivityName=".view.CustomerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.ActionBar" />
        <activity
            android:name=".view.RegisterActivity"
            android:parentActivityName=".view.LoginActivity"
            android:theme="@style/AppTheme.ActionBar" />
        <activity
            android:name=".view.CustomerActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".view.ChangePassActivity"></activity>
        <activity android:name=".view.DetailOrderActivity" />
        <activity android:name=".view.RestaurantViewOrderActivity" />
        <activity android:name=".view.AddFoodActivity" />
        <activity android:name=".view.ViewListFoodActivity" />
        <activity android:name=".view.RestaurantActivity" />
        <activity android:name=".view.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>